div(ng-app='ng-app')
  div(ng-controller='AllCtrl')
    div(class="row-fluid",id="main")
    .row-fluid
      .span2
        ul(class="nav nav-pills nav-stacked")
          li(class="nav-header") Site
          li
            a(ng-href="#/p/home") Front Page
          li
            a(ng-href="#/all") All Pages
          li
            a(href="#") Categories
          li
            a(href="#") Upload a file
      div(class='span9 clearfix',id='thearea')
        div(class="media",ng-repeat="d in docs")
          .media-body
            h3.media-heading {{d.id}}
            .media
              a(href="#/p/{{d.id}}") View &nbsp;
              a(href="#/e/{{d.id}}") Edit

