div(ng-app='ng-app')
  div(ng-controller='EditCtrl')
    div(class="row-fluid",id="main")
    .row-fluid
      .span2
        ul(class="nav nav-pills nav-stacked")
          li(class="nav-header") Site
          li
            a(ng-href="#/p/home") Front Page
          li
            a(href="#/all") All Pages
          li
            a(href="#") Categories
          li
            a(href="#") Upload a file
          li(class="nav-header") Page
          li
            a(ng-href="#/p/{{pageId}}") View the page
          li
            a(ng-click="save('editor')") Save
      div(class='span9 clearfix',id='thearea')
        textarea(class="editable",ng-model="content",
        ui-jq="wysihtml5",editable,id="editor",
        )
