div(ng-app='ng-app')
  div(ng-controller='PageCtrl')
    div(class="row-fluid",id="main")
    .row-fluid
      div(class='span9 offset2 clearfix',id='thearea')
        textarea(class="editable",ng-model="content",
        ui-jq="wysihtml5",editable,id="editor",
        ui-options="{'useLineBreaks':false,'autoLink':true,'html':true,'parserRules':advancedParserRules}")
