div(ng-app='ng-app')
  div(ng-controller='PageCtrl')
    div(class="row-fluid",id="main")
    .row-fluid
      div(class='span6 offset3 clearfix',id='thearea')
        .row-fluid
          div(class='editable',editable,
          ng-bind-html="sourceHtml")
      .span3
        div(id="sidebar",ui-jq="affix")
