div(ng-app='ng-app')
  div(ng-controller='PageCtrl')
    div(class="row-fluid",id="main")
    .row-fluid
      .span2
        ul(class="nav nav-pills nav-stacked")
          li(class="nav-header") Site
          li
            a(ng-href="#/p/home") Front Page
          li
            a(href="#/all") All Pages
          li
            a(href="#") Categories
          li
            a(href="#") Upload a file
          li(class="nav-header") Page
          li
            a(ng-href="#/e/{{pageId}}") Edit the page
      div(class='span9 clearfix',id='thearea',ng-bind-html-unsafe="content")
